<form action="/doaddcomment?bookTitle={{title}}" method="post" class="myForm"> <!-- direct me to the addcommentform with the specific bookTitle  -->
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Σχόλια</h1>
            </div>
        </div>
        <fieldset class="border p-2 mb-3">
            <!-- Comment form -->
            <legend class="w-auto">Προσθέστε το σχόλιο σας</legend>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="newBookTitle" class="col-form-label">Τίτλος</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <!-- Readonly title text area -->
                    <input type="text" class="form-control" id="newBookTitle" value="{{title}}" name="newBookTitle" disabled readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="newBookAuthor" class="col-form-label">Συγγραφέας</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <!-- Readonly author text area -->
                    <input type="text" class="form-control" id="newBookAuthor" value="{{author}}" name="newBookAuthor" disabled readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="newBookComment" class="col-form-label">Σχόλιο</label>
                </div>
                <div class="col-md-10 col-sm-10 position-relative">
                    <!-- Comment text area -->
                    <input type="text" class="form-control {{#if message.newBookComment}} is-invalid {{/if}}" id="newBookComment" value="{{mycomment}}" name="newBookComment" placeholder="Σχόλιο" required>
                    <div class="valid-feedback"> Μια χαρά! </div>
                    <div class="invalid-feedback">{{message.newBookComment.msg}} </div>
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <div class="col">
                <!-- Submit button for comment -->
                <button type="submit" class="btn btn-primary mb-3">Υποβολή</button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2>Άλλοι είπαν...</h2>
        </div>
    </div>
    {{#if comments}}
    <!-- in case there are comments from others -->
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Μέλος</th>
                    <th>Σχόλιο</th>
                </tr>
            </thead>
            <tbody>
                {{#each comments}}
                    <tr>
                        <!-- show username -->
                        <td>{{user}}</td>
                        <!-- show comment of the user -->
                        <td>{{comment}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
    {{#unless comments}}
    <!-- if there are no comments from others -->
        <div class="row mt-5">
            <div class="col"> Δεν υπάρχουν άλλα σχόλια για το βιβλίο αυτό </div>
        </div>
    {{/unless}}
    {{#if error}}
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="alert alert-primary" role="alert">
                    {{error}}
                </div>
            </div>
        </div>
    {{/if}}
</form>